@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");

/*
1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
2. Remove default margin
*/
* {
	margin: 0;
}
/*
3. Allow percentage-based heights in the application
*/
html,
body {
	height: 100%;
	font-family: "Roboto", sans-serif;
}
/*
Typographic tweaks!
4. Add accessible line-height
5. Improve text rendering
*/
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
/*
6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}
/*
8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
/*
9. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

body {
	height: 100%;
	background-color: rgb(30, 30, 90);
	background-attachment: fixed;
}
html {
	color-scheme: light dark;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 10%;
	background: var(--background-transparency);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}
/* Inicio Navbar */
.logo {
	font-size: 25px;
	color: var(--font-color);
	text-decoration: none;
	font-weight: 600;
}

.navbar a {
	font-size: 18px;
	color: var(--font-color);
	text-decoration: none;
	font-weight: 500;
	margin-left: 35px;
	transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
	color: var(--hover-color);
}

/* Fin del Navbar */

#experiencias,
#contactame {
	height: 100vh;
	color: var(--font-color);
	padding: 90px 10%;
}

#experiencias {
	background-image: url(../img/home2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: var(--background-color);
}

#trabajos {
	height: 100vh;
	padding: 90px 0;
	background-image: url(../img/trabajos.jpg);
}

#contactame {
	background-image: url(../img/home-background.jpg);
	background-size: auto;
	background-repeat: repeat;
}

/* Hoja Home */
.home {
	height: 100vh;
	display: flex;
	background-image: url(../img/home1.jpg);
	background-size: cover;
	background-position: center;
	flex-wrap: wrap;
	align-items: center;
	padding: 0 10%;
}

.home-content {
	max-width: 600px;
}

.home-content h1 {
	font-size: 56px;
	font-weight: 700;
	line-height: 1.2;
}

.home-content h3 {
	font-size: 32px;
	font-weight: 700;
	color: var(--hover-color);
}

.home-content p {
	margin: 20px 0 40px;
}

.home-content .btn-box {
	display: flex;
	justify-content: space-between;
	width: min(90%, 340px);
	height: 50px;
}

.btn-box a {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 100%;
	background: var(--hover-color);
	border: 2px solid var(--hover-color);
	border-radius: 8px;
	font-size: 19px;
	color: var(--font-color);
	text-decoration: none;
	font-weight: 00;
	letter-spacing: 1px;
	z-index: 1;
	overflow: hidden;
	transition: 0.3s;
}

.btn-box a:hover {
	color: var(--hover-color);
}

.btn-box a:nth-child(2) {
	background: transparent;
	color: var(--hover-color);
}

.btn-box a:nth-child(2):hover {
	color: var(--font-color);
}

.btn-box a:nth-child(2)::before {
	background: var(--hover-color);
}

.btn-box a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: var(--background-color);
	z-index: -1;
	transition: 0.3s;
}

.btn-box a:hover::before {
	width: 100%;
}

.container-home-sci {
	width: 90vw;
}

.home-sci {
	margin-block: 0.5rem;
	bottom: 40px;
	width: 220px;
	display: flex;
	justify-content: space-between;
}

.home-sci a {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background: transparent;
	border: var(--hover-color) solid 2px;
	border-radius: 50%;
	font-size: 20px;
	color: var(--hover-color);
	z-index: 1;
	text-decoration: none;
	overflow: hidden;
}

.home-sci a:hover {
	color: var(--background-color);
}

.home-sci a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	z-index: -1;
	transition: 0.3s;
	background: var(--hover-color);
}

.home-sci a:hover::before {
	height: 100%;
}

.home-imgHover {
	display: none;
	position: absolute;
	top: 0;
	right: 30px;
	width: 40%;
	height: 100%;
	background: transparent;
	transition: 1.5s;
}

.home-imgHover:hover {
	background: var(--background-color);
	opacity: 0.95;
}

/* Fin Hoja home */

/* Inicio Carrusel */
.carrusel .image {
	object-fit: cover;
	height: 50vh;
	aspect-ratio: 5/8;
	border-radius: 10px;
	object-position: 100% center;
	border: var(--hover-color) solid 2px;
}

.carrusel {
	display: flex;

	gap: 2vmin;
	margin: 2rem;
	justify-content: center;
	left: 150%;
	transform: translate(50%, 0%);
}

#wrapper {
	margin: 2rem auto;
	max-width: min(90%, 1800px);
	overflow: hidden;
	display: flex;
	align-items: center;
	border: var(--hover-color) solid 3px;
	border-radius: 10px;
	background: var(--background-color);
}

#wrapper .carrusel {
	white-space: nowrap;
	font-size: 0px;
	cursor: pointer;
}

#wrapper i {
	text-align: center;
	padding: 0.25rem;
	border-radius: 50%;
	font-size: 2rem;
	background: var(--background-color);
	position: relative;
	color: white;
	z-index: 100;
	cursor: pointer;
}

#wrapper i:first-child {
	position: absolute;
	border: white solid 2px;
	left: clamp(0px, 7vw, 400px);
}

#wrapper i:last-child {
	position: absolute;
	border: white solid 2px;
	right: clamp(0px, 7vw, 400px);
}

/* Fin Carrusel */

h2 {
	color: white;
	text-align: center;
}

/** Menu Hamburguesa */
label .menu {
	position: absolute;
	right: -75px;
	top: -75px;
	z-index: 100;
	width: 150px;
	height: 150px;
	background: var(--hamburger-transparency);
	border-radius: 50% 50% 50% 50%;
	-webkit-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	box-shadow: 0 0 0 0 var(--hamburger-transparency), 0 0 0 0 var(--hamburger-transparency);
	cursor: pointer;
}

label .hamburger {
	position: absolute;
	top: 105px;
	left: 30px;
	width: 30px;
	height: 2px;
	background: var(--hover-color);
	display: block;
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
	-webkit-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background: var(--hover-color);
}

label .hamburger:before {
	top: -10px;
}

label .hamburger:after {
	bottom: -10px;
}

label input {
	display: none;
}

label input:checked + .menu {
	box-shadow: 0 0 0 100vw var(--hamburger-transparency), 0 0 0 100vh var(--hamburger-transparency);
	border-radius: 0;
}

label input:checked + .menu .hamburger {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	bottom: 0;
}

label input:checked + .menu .hamburger:before {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	top: 0;
}

label input:checked + .menu + ul {
	opacity: 1;
}

label ul {
	z-index: 200;
	position: absolute;
	top: 150%;
	left: 50%;
	font-size: 1.5rem;
	transform: translate(-50%, 0%);
	opacity: 0;
	transition: 0.25s 0s ease-in-out;
}

label a {
	margin-block: 3rem 1rem;

	display: block;
	color: var(--hover-color);
	text-decoration: none;
}

/** Fin menu hamburguesa/*

/** Comienzo la página de Contacto */

.contactoContainer {
	width: 100%;
	height:max-content;
	display: flex;
	justify-content: center;
	margin: 1rem auto;
}

.item {
	width: min(90%, 820px);
	height: 65vh;
	border-radius: 20px;
	box-shadow: 0 0 20px 10px var(--hamburger-transparency);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.contact {
	background-image: url(../img/logo.jpg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-color: var(--background-color);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	border-radius: 20px 0px 0px 20px;
	border: var(--hover-color) solid 3px;
	transition: 1.5s;
}

/* .contact-imgHover {
	width: min(40%, 360px);
	height: 70%;
	background: transparent;
	transition: 1.5s;
	
}
.contact-imgHover:hover {
	background: var(--background-color);
	opacity: 0.95;
	
} */

.submit-form {
	border-radius: 0px 20px 20px 0px;
	background: var(--hover-color);
}

.first-text {
	font-size: 2rem;
	color: var(--hover-color);
}

.second-text {
	text-align: center;
	font-size: 2rem;
	font-weight: 400;
	color: var(--font-color);
}

.submit-form {
	padding: 1rem;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: max-content;
}
.input-box {
	position: relative;
	height: 3rem;
	width: 80%;
	margin: 1rem auto;
}

.input {
	outline: none;
	border: var(--font-color) solid 2px;
	width: 100%;
	height: 100%;
	background: transparent;
	border-radius: 10px;
	padding: 0.5rem;
	font-size: 1rem;
}

.input-box label {
	position: absolute;
	top: 50%;
	left: 10px;
	padding-left: 10px;
	transform: translateY(-50%);
	font-weight: 500;
	font-size: 17px;
	color: var(--font-color);
	transition: 0.3s;
}

.input-box .input:focus ~ label,
.input-box .input:valid ~ label {
	top: -1px;
	left: 10px;
	background: var(--hover-color);
	font-size: 14px;
	padding: 5px;
}

textarea.input {
	resize: none;
	min-height: 100px;
	overflow: auto;
	padding: 0.5rem;
}

.btn {
	position:relative;
	top: clamp(20px, 12vh,400px);
	width: 80%;
	margin: 0 auto;
	border: var(--font-color) solid 2px;
	outline: none;
	background: var(--font-color);
	border-radius: 10px;
	font-size: 1rem;
	color: var(--hover-color);
	height: 3rem;
}

/** Fin página de Contacto*/

/** Media queries */

@media (min-width: 1200px) {
	.home-imgHover {
		display: block;
	}
	.navbtn {
		display: none;
	}
}

@media (min-width: 800px) and (max-width: 1200px) {
	.navbtn {
		display: none;
	}
	/* .carrusel .image {
		width: 30vw;
	} */
}

@media (max-width: 800px) {
	.navbar {
		display: none;
	}
	.hamburger-item {
		display: none;
	}
	/* .carrusel .image {
		width: 40vw;
	} */

	.item {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		height: 70vh;
	}

	.contact {
		display: none;
	}

	.submit-form {
	border-radius: 20px;
	background: var(--hover-color);
}
}

@media (max-width: 500px) {
	.navbar {
		display: none;
	}
	.hamburger-item {
		display: none;
	}

		.item {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		height: 80vh;
	}
	/* .carrusel .image {
		width: 60vw;
	} */
}
