@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");

/*
1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
2. Remove default margin
*/
* {
	margin: 0;
}
/*
3. Allow percentage-based heights in the application
*/
html,
body {
	height: 100%;
	font-family: "Roboto", sans-serif;
}
/*
Typographic tweaks!
4. Add accessible line-height
5. Improve text rendering
*/
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
/*
6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}
/*
8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
/*
9. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

body {
	overflow-x: hidden;
	height: 100%;
	background-color: rgb(30,30, 90);
	background-attachment: fixed;
}
html {
	color-scheme: light dark;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: var(--background-transparency);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: var(--font-color);
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    font-size: 18px;
    color: var(--font-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s
}

.navbar a:hover,
.navbar a.active {
    color: var(--hover-color);
}

.home-content, #resumen, #experiencias, #contactame {
	color: var(--font-color);
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content{
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: var(--hover-color);
}

.home-content p {
    margin: 20px 0 40px;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 340px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: var(--hover-color);
    border: 2px solid var(--hover-color);
    border-radius: 8px;
    font-size: 19px;
    color: var(--font-color);
    text-decoration: none;
    font-weight: 00;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: 0.3s;
}

.btn-box a:hover{
    color: var(--hover-color); 
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: var(--hover-color);
}

.btn-box a:nth-child(2):hover {
    color: var(--font-color);
}

.btn-box a:nth-child(2)::before {
    background: var(--hover-color);
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--background-color);
    z-index: -1;
    transition: 0.3s
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;

}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: var(--hover-color) solid 2px;
    border-radius: 50%;
    font-size: 20px;
    color: var(--hover-color);
}
.image {
	width: 40vmin;
	height: 56vmin;
	object-fit: cover;
	object-position: 100% 50%;
	border-radius: 10px;
	border: lightslategray solid 2px;
}

.carrusel {
	display: flex;
	gap: 4vmin;
	position: relativee;
	/* left: 50%;
	top: 50%; */
	transform: translate(13%, 0%);
}

h2 {
	color: white;
	text-shadow: lightslategray 3px 3px 3px;
	text-align: center;
}
